.page {
  min-height: 100vh;
  
  font-family: sans-serif;
  color: #2c2c2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #2c2c2c;
  margin: 0;
}

.subtitle {
  color: #6b6b6b;
  font-size: 15px;
  margin-top: 6px;
}

.card {
  width: 100%;
  max-width: 640px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #e9e3dd;
  border-radius: 18px;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
.stats-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-size: 14px;
  color: #4a4a4a;
}

.button {
  background-color: #f3ede7;
  border: none;
  border-radius: 10px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #e8e5e0;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

.progress-fill {
  width: 60%;
  height: 100%;
  background-color: #c7d8be;
}

.search-box {
  position: relative;
  /* width: 100%; */
  max-width: 640px;
  margin-bottom: 30px;
}

.input {
  min-width: 80%;
  padding: 12px 12px 12px 38px;
  border-radius: 12px;
  border: 1px solid #e2ddd8;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  font-size: 15px;
  color: #3e3e3e;
}


.inputselect {
  min-width: 95%;
  padding: 12px 12px 12px 38px;
  border-radius: 12px;
  border: 1px solid #e2ddd8;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  font-size: 15px;
  color: #3e3e3e;
}

.category-card {
  width: 100%;
  max-width: 640px;
  background-color: #fff;
  border: 1px solid #ebe4de;
  border-radius: 18px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  padding: 10px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.category-title {
  font-size: 17px;
  font-weight: 600;
}

.category-info {
  font-size: 13px;
  color: #6b6b6b;
  margin-bottom: 10px;
}

.section {
  background-color: #f9f7f5;
  border-radius: 14px;
  padding: 8px;
  margin-bottom: 15px;
}

.section-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
.friend-list{
   background-color: #f9f7f5;
  border-radius: 14px;
  padding: 2px;
  margin-bottom: 15px;
  height: fit-content;
  max-height: 30rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;

}

.friend-list::-webkit-scrollbar {
  width: 6px;
}

.friend-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
}


.friend-row {
  background-color: #f3ede7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: .5rem;
  padding-inline: .3rem;
}

.friend-button {
  background-color: #e2d5c7;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 13px;
  cursor: pointer;
}

.delete-btn{
  background-color: #e2d5c7;
  color: rgb(88, 26, 26);
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 13px;
    cursor: pointer;
}
.ml-12 {
  margin-left: 12px;
}

.profile {
  display: flex;
  flex-direction: column;
}

.name{
  font-size: 15px;
  font-weight: 600;
}
.category{
  font-size: .8rem;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  width: 350px;
  max-width: 90%;
}

.modal-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  width: 100%;
}
